<div>
    <!-- Contact Details Section -->
    <div class="contact-details">
      <h3>Our Office</h3>
      <p>1234 Rent-A-Car Street, Suite 567</p>
      <p>Jaffna, Srilanka, 5030</p>
      <p><strong>Phone:</strong> +94 759722245</p>
      <p><strong>Email:</strong>Rathigmail.com</p>
      <p><strong>Working Hours:</strong> Monday - Friday, 9 AM - 6 PM</p>
    </div>
  
    <!-- Google Map -->
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.82359131898158!2d80.0093229585301!3d9.665873612231294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe570010da0795%3A0x642cc900b494e9a3!2sUnicom%20TIC!5e0!3m2!1sen!2slk!4v1733743436317!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  
