<!-- <div *ngFor="let booking of bookings">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(booking.bookingId)">
      <textarea
        placeholder="Type your message to Customer"
        style="border-radius: 6px; width: 100%; height: 100px; color: aqua;"
        [id]="booking.bookingId"
        name="message">
      </textarea>
      <br><br>
      <button
        type="submit"
        style="color: rgb(0, 0, 0); width: 60px; height: 40px; border-radius: 8px; background-color: rgb(91, 218, 223);">
        Send
      </button>
    </form>
  </div>
   -->