<div class="register-form">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input id="name" formControlName="name" />
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">Name is required and must be at least 3 characters</div>

    <label for="email">Email</label>
    <input id="email" formControlName="email" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Invalid email</div>

    <label for="phoneNumber">Phone Number</label>
    <input id="phoneNumber" formControlName="phoneNumber" />
    <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched">Phone number must be 10 digits</div>

    <label for="licenceNumber">License Number</label>
    <input id="licenceNumber" formControlName="licenceNumber" />
    <div *ngIf="registerForm.get('licenceNumber')?.invalid && registerForm.get('licenceNumber')?.touched">License number is required</div>


    <label for="password">Password</label>
    <input id="password" formControlName="password">
    <!-- <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">License number is required</div> -->







    <label for="address">Address</label>
    <textarea id="address" formControlName="address"></textarea>
    <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched">Address is required</div>

    <label for="nic">NIC</label>
    <input id="nic" formControlName="nic" />
    <div *ngIf="registerForm.get('nic')?.invalid && registerForm.get('nic')?.touched">NIC is required and must be in valid format</div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
