<body>
  <div class="register-form">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-inside">
        <div>
          <label for="name">Name</label>
          <input id="name" formControlName="name" />
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error-message">
            Name is required and must be at least 3 characters
          </div>

          <label for="email">Email</label>
          <input id="email" formControlName="email" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
            Invalid email
          </div>

          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" formControlName="phoneNumber" />
          <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched" class="error-message">
            Phone number must be 10 digits
          </div>

          <label for="licenceNumber">License Number</label>
          <input id="licenceNumber" formControlName="licenceNumber" />
          <div *ngIf="registerForm.get('licenceNumber')?.invalid && registerForm.get('licenceNumber')?.touched" class="error-message">
            License number is required
          </div>
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" formControlName="password" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
            Password is required and must be at least 8 characters
          </div>

          <label for="address">Address</label>
          <input id="address" formControlName="address" />
          <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="error-message">
            Address is required
          </div>

          <label for="nic">NIC</label>
          <input id="nic" formControlName="nic" />
          <div *ngIf="registerForm.get('nic')?.invalid && registerForm.get('nic')?.touched" class="error-message">
            NIC is required and must be in a valid format
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</body>