<body style="background-image: url('/images/new\ york\ cae.jpg'); background-repeat: no-repeat; background-size: cover; height: 950px;">
   <div>
    <h1 class="heading">RENTAX</h1>

    <h2 style="text-align: center; margin-top: 10px;" >Fast & Easy Way To Rent A Car</h2>
    <p style="text-shadow: #e0e0d9; font-size: 24px; text-align: center; margin-top: 20px; text-shadow: black; font-weight: bold;">A small
      river named Duden flows by their place and supplies it with the necessary regelialia.<br>
      It is a paradisematic country, in which roasted parts</p>
    <h2 style="margin-left: 40px; padding-top: 10px; color: rgb(206, 184, 62); text-shadow: 2px 2px #000000;">Plan your
      Trip Now</h2>
    <h1 style="margin-left: 40px; text-shadow: 2px 2px #000000; color: #e0e0d9;">Saving <mark style=" background-color: rgb(0, 0, 0); color: aliceblue;text-shadow: 
               2px 2px #ca7b7b;">BIG </mark>With Our <br> Car Rental</h1>
    </div>
</body>

<section style="width: 100%; overflow-y: scroll;" class="shadow p-4 m-4 bg-white rounded">
  <router-outlet></router-outlet>
</section>
