<body style="background-image: url('images/bg\ 2.webp'); background-repeat: no-repeat; background-size: cover; height: 950px; opacity: 0.9;">

  <nav >
    <div class="container-fluid">
      <a routerLink="/home">Home</a>
      <a routerLink="/inbox">Messages</a>
      <a routerLink="/contact">Contact Us</a>
      <a routerLink="/updatecustomer">profile</a>
      <a routerLink="/home">Logout</a>
    </div>
  </nav>
  
 
   <div>
     

    <h1 class="heading">RENTAX</h1>

    <h2 style="text-align: center; margin-top: 10px; color: white; " >Fast & Easy Way To Rent A Car</h2>
    <p style="text-shadow: #e0e0d9; font-size: 24px; text-align: center; margin-top: 20px; text-shadow: rgb(255, 255, 255); font-weight: bold;  font-family: monospace; font-size: 22px; color: white;">A small
      river named Duden flows by their place and supplies it with the necessary regelialia.<br>
      It is a paradisematic country, in which roasted parts</p>
    <!-- <h2 style="margin-left: 40px; padding-top: 10px; color: rgb(206, 184, 62); text-shadow: 2px 2px #000000;">Plan your
      Trip Now</h2>
    <h1 style="margin-left: 40px; text-shadow: 4px 4px #000000; color: #ffffff;">Saving <mark style=" background-color: rgb(0, 0, 0); color: aliceblue;text-shadow: 
               2px 2px #ca7b7b;">BIG </mark>With Our <br> Car Rental</h1> -->
    </div>
</body>

<div class="finance">
  
  <h1 style="text-align: center; font-size: 48px; color: white; letter-spacing: 10px; padding-top: 60px;">Our Rental Fleet</h1>
  <h3 style="text-align: center; font-size: 20px; margin-top: 20px; color: white; letter-spacing: 2px;"> To contribute to positive change and achieve our <br>sustainability goals with many extraordinary </h3>

  <div style="display: flex; align-items: center;"> <!-- Added align-items to center the content vertically -->
    <img src="/images/ad-girl_image.jpg" height="600" width="500" style="margin-top: 50px; margin-left: 400px; box-shadow: 0px 5px 5px rgb(0, 0, 0 );"> <!-- Removed semicolons and adjusted margin-top -->
    
    <div style="margin-left: 30px;">
      <h1 style="text-align: start; font-size: 26px; color: white;">About Company</h1>
      <h1 style="text-align: start; font-size: 40px; color: white;">Our You start the engine <br> and your adventure <br> begins</h1>
      <h3 style="text-align: start; font-size: 18px;color: white;">
        Certain but she but shyness why cottage. Guy the put<br> instrument sir entreaties affronting.
        Pretended <br> exquisite see cordially the you. <br> Weeks quiet do vexed or whose. Motionless if no to a
        affronting <br> imprudence no precaution. My indulged as disposal strongly attended.
      </h3>
    </div>
  </div>
</div>


  <router-outlet></router-outlet>


<div class="customer">
  <h2 style="font-weight: bold; color: aliceblue; letter-spacing: 10px; padding-top: 200px; ">Available Cars</h2>
  <div class="cars-list">
    <div *ngFor="let car of cars">
      <div class="car-card">
        <h3>{{ car.make }} {{ car.model }}</h3>
        <h4>{{ car.year }}</h4>
         
        <p>Price per day: ${{ car.pricePerDay }}</p>
        <p>Available: {{ car.isAvailable ? 'Yes' : 'No' }}</p>
        <img [src]="car.imageFilePath" alt="{{ car.make }} {{ car.model }}" class="car-image" />
        

        <button (click)="viewDetails(car)">View Details</button>



      </div>
      <div *ngIf="selectedCar === car" class="popup-overlay">
        <div class="popup">
          <h3>Car Details</h3>
          <img [src]="car.imageFilePath">
          <p><strong>Car Name:</strong> {{ car.make }}</p>
          <p><strong>Model:</strong> {{ car.model }}</p>
          <p><strong>Year:</strong> {{ car.year }}</p>
          <p><strong>Price per Day:</strong> ${{ car.pricePerDay }}</p>
          <p><strong>Color:</strong> {{ car.color }} color</p>
            
          <form [formGroup]="bookingForm" (ngSubmit)="onBookCar()">
            <label for="startDate">Start Date</label> 
            <input type="date" id="startDate" formControlName="startDate" required />
          
            <br><br>
          
            <label for="endDate">End Date</label> 
            <input type="date" id="endDate" formControlName="endDate" required />
            
            <div class="popup-buttons">
              <button type="button" (click)="cancel()">Cancel</button>
              <button type="submit" [disabled]="!bookingForm.valid">Book car</button>
            </div>
          </form>
          
          
        </div>
      </div>
    </div>
  </div>
</div>



  <footer style="margin-top: 1px;">

    

    <div>
      <h1 class="navtext">
        Solutions<br><br>
        Itinerary Management<br>
        Proposals + Quotes<br>
        Simple CRM + Forms<br>
        Website + Marketing<br>
        Trip Plans Mobile App<br>
        White Labels<br><br> <br>


        Solutions For<br><br>
        Travel Advisors<br>
        DMCs and On-Sites<br>
        Tour Operators<br>
        DMOs and Tourism<br>
        Host Agencies<br>
        Suppliers<br>
      </h1>
    </div>

    <div>
      <h1 class="navtext">
        Support<br><br>
        Certification<br>
        FAQs<br>
        API Documentation<br>
        Contact Us<br>
        Forgot Password?<br>
        Sign In<br><br><br><br>


        Travefy Academy<br>
        Travefy Academy<br>
        Educational Webinars<br>
        The Lounge Podcast<br>
      </h1>
    </div>

    <div>
      <h1 class="navtext">
        Company<br><br>
        About<br>
        The Team<br>
        Careers<br>
        Agent Reviews<br>
        Case Studies<br>
        Press Information<br><br>


        Discover<br>
        Professional Travel Advisors
      </h1>
    </div>
  </footer>



    
  
       





