<!-- <header class="header">
  <div class="nav">
      <div class="logo">
          <img src="images/rental-car-logo-template-design-vector.jpg" alt="logo" style="width: 100px;">
      </div>
      <nav>
          <ul class="nav-links">
              <li><a routerLink="/home" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                HOME
              </a></li>
              <li><a routerLink="/#" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                GET CAR
              </a></li>
              <li><a routerLink="/#" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                ABOUT US
              </a></li>
              <li><a routerLink="/login" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                LOGIN
              </a></li>
              <li><a routerLink="/#" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                X
              </a></li>

          </ul>
      </nav> -->
      <!-- <div class="user-dropdown" >
          User ▼
          <div class="user-dropdown-content">
              <a href="../Customer_Dasboard/cust_Dasboard.html">Profile</a>

              <a href="#" id="logoutButton">Logout</a> 
          </div>
      </div> -->
      
  <!-- </div>
</header> -->


  <router-outlet></router-outlet>
 


