<div class="manager-b">
  


<div class="fulldashboard">

  <div class="sideBar">
    <ul>
      <li><a routerLink="/managerdashboard/manager" routerLinkActive="active">Add the car</a></li>
      <li><a routerLink="/managerdashboard/rentalRequest" routerLinkActive="active">Rental Request </a></li>
      <li><a routerLink="/managerdashboard/manger-find" routerLinkActive="active">Find</a></li>
      <li><a routerLink="/managerdashboard/manger-rent" routerLinkActive="active">Rented Details</a></li>
    </ul>
  </div>

 
  <div class="down">
    <router-outlet></router-outlet>
  </div>
</div>

</div>