
<!-- <div class="dashboard">
  <h2>Manager Dashboard</h2>
  <div class="buttons">
    <button (click)="showPage1('page1')">Page 1</button>
    <button >Page 2</button>
    <button >Page 3</button>
  </div>

  
 
</div> -->
<!-- Router Outlet to display the content of selected page -->
<!-- <div class="fulldashboard">
   
  <div class="dashboard"> 

  </div>
  <div class="down">
    <router-outlet></router-outlet>
  </div>

</div> -->

<div class="fulldashboard">

  <div class="sideBar">
    <ul>
      <li><a routerLink="/managerdashboard/manager" routerLinkActive="active">Add the car</a></li>
      <li><a routerLink="/managerdashboard/rentalRequest" routerLinkActive="active">Rental Request </a></li>
      <li><a routerLink="/managerdashboard/manger-inbox" routerLinkActive="active">Message  Box</a></li>
    </ul>
  </div>

 
  <div class="down">
    <router-outlet></router-outlet>
  </div>
</div>
