form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  color: black;
  font-size: 22px;
}

input {
  margin-top: 5px;
  padding: 8px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}
/* Basic styles for the login form */
.login-form {
  max-width: 500px;
  height: 450px;
  margin: 0 auto;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(105, 170, 207), rgb(255, 255, 255));
  border-radius: 12px;
  margin-top: 200px;
  box-shadow: 1px 5px 5px rgb(0, 0, 0 );
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

div {
  color: rgb(214, 38, 38);
}

h2{
  font-weight: bold;
  text-align: center;
  color: black;
}

body{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(105, 170, 207), rgb(255, 255, 255));

}