.error {
    color: red;
    margin-top: 10px;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #3498db;
    color: rgb(15, 15, 15);
  }
  
  td {
    background-color: #ffffff;
    color: black;
  }


  button {
    background-color: rgb(211, 29, 29);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 30px;
  }
  
  button:hover {
    background-color: darkred;
  }
  
  label{
    color: rgb(255, 255, 255);
    
  }



  .rent-container {
    margin: 20px;
  }
  
  .rent-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rent-button:hover {
    background-color: #0056b3;
  }
  
  .rent-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .rent-table th, .rent-table td {
    border: 1px solid #07102e;
    padding: 8px;
    text-align: center;
  }
  
  .rent-table th {
    background-color: #3498db;
  }
  