 <!-- <div
  class="slider-container"
  [ngStyle]="{ 'background-image': backgroundImage }"
  style="height: 100vh; background-size: cover; background-position: center; transition: background-image 1s ease;"
>   -->

 <p >
   You must <a [routerLink]="['/login']" id="registerLink" style="text-decoration: none; "><mark style=" background-color: rgb(48, 159, 202); color: aliceblue;text-shadow: 
   2px 2px #020000; border-radius: 12px;">Login </mark></a>
      </p> 
  
  <div>
     <img src="/images/logo for window.png" alt="" style="margin-left: 580px; height: 400px; width: 800px; "> 
    
    
   </div> 

<!-- <video #videoElement [src]="windowVideo" type="video/mp4" autoplay loop></video> -->
<video #videoElement class="fullscreen-video" autoplay loop >
   <source [src]="videoUrl" type="video/mp4" />
   Your browser does not support the video tag.
</video>