<div
  class="slider-container"
  [ngStyle]="{ 'background-image': backgroundImage }"
  style="height: 100vh; background-size: cover; background-position: center; transition: background-image 1s ease;"
>
  <div>
    <h1 class="heading">RENTAX</h1> <br> 
    <h4 class="text-white">Welcome to Our Car Rental Service</h4>
    <p>
        You must <a [routerLink]="['/login']" id="registerLink" style="text-decoration: none; "><mark style=" background-color: rgb(48, 159, 202); color: aliceblue;text-shadow: 
            2px 2px #020000; border-radius: 12px;">Login </mark></a>
      </p>
  </div>
</div>