.message-container {
  padding: 20px;
  }
  
  .message-item {
    background-color:rgb(220, 248, 198) ;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
    
   
  }
  
  .message-sender {
    font-weight: bold;
    color: #333; 
    font-size: 1.1em;
  }
  
  .message-content {
    color: #000000; 
    margin-top: 10px;
  }
  
  .message-date {
    font-size: 0.9em;
    color: #888; 
    margin-top: 5px;
    text-align: right;
  }
 
  h1{
  
    color: azure;
    padding-left: 20px;
    
  }

  .message-navbar{
    background-color: rgb(7, 94, 84);
    width: 985px;
    height: 100px;
    display: flex;
    padding-top : 20px  ;
    padding-left: 40px;
    z-index: +1;
    position: fixed;
   
    
  }

  .form{
    width: 1000px;
    height: 950px;
    margin-left: 200px;
    background-image:url(/images/message-bg.jpg) ;
    overflow-y: scroll; 
    position: fixed
  }

  img{
    width: 60px;
    height: 60px;
  }

  .container{
    margin-top: 150px;
  }