<!-- rent-request.component.html -->

<div *ngFor="let booking of bookings" class="booking-card" style="display: flex;">

  <div>
    <p class="booking-details">Booking ID: {{ booking.bookingId }}</p>
    <p class="booking-details">Customer ID: {{ booking.customerId }}</p>
    <p class="booking-details">Start Date: {{ booking.startDate }}</p>
    <p class="booking-details">End Date: {{ booking.endDate }}</p>
    <p class="booking-details">Status: {{ booking.status }}</p>
    <p class="booking-details">booked Date: {{ booking.createdDate }}</p>
    <img *ngIf="booking.imageFilePath" [src]="booking.imageFilePath" alt="Booking Image">



    <div class="booking-actions">
      <button (click)="manageBooking(booking.bookingId, 'approved')">Approve</button>
      <button (click)="manageBooking(booking.bookingId, 'cancelled')">Cancel</button>
      <button (click)="deleteBooking(booking.bookingId)">Delete</button>
    </div>
  </div>
  <div style="margin-left: 100px; width: 100%; margin-top: 60px;">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(booking.bookingId)">
      <textarea  placeholder="Type your message to Customer"
        style="border-radius: 6px; width: 100%; height: 100px;" [id]="booking.bookingId" name="message"></textarea> <br><br>
      <button
        style="color: rgb(0, 0, 0); width: 60px; height: 40px; border-radius: 8px; background-color: rgb(91, 218, 223);">Send</button>
    </form>
  </div>

</div>